<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->
        <!-- 开启注解扫描
        	1.到包里面扫描类，方法，属性上面的注解（多个包可以用逗号隔开，或直接扫描根目录）
         -->
        <context:component-scan base-package="com.wmr.springDay02"></context:component-scan>
        <!-- 只扫描属性上面的注解 -->
        <context:annotation-config></context:annotation-config>
		<bean id="bookService" class="com.wmr.springDay02.BookService"></bean>
		<bean id="bookDao" class="com.wmr.springDay02.BookDao"></bean>
		<bean id="orderDao" class="com.wmr.springDay02.OrderDao"></bean>
</beans>