<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
        <!-- 开启注解扫描
        	1.到包里面扫描类，方法，属性上面的注解（多个包可以用逗号隔开，或直接扫描根目录）
         -->
   	    <context:component-scan base-package="com.wmr.springDay02"></context:component-scan>
        	<!-- 只扫描属性上面的注解 -->
        <context:annotation-config></context:annotation-config>
		<bean id="bookService" class="com.wmr.springDay02.BookService"></bean>
		<bean id="bookDao" class="com.wmr.springDay02.BookDao"></bean>
		<bean id="orderDao" class="com.wmr.springDay02.OrderDao"></bean>
		
		
		<!-- aop操作 ，创建实例-->
		<bean id="book" class="com.wmr.springDay02.aop.Book"></bean>
		<bean id="myBook" class="com.wmr.springDay02.aop.Mybook"></bean>
		<!-- 配置aop操作 -->
		<aop:config>
			<!-- 配置切入点 -->
			<aop:pointcut expression="execution(* com.wmr.springDay02.aop.Book.add(..))" id="pointcut1"/>
			<!-- 配置切面 -->
			<aop:aspect ref="myBook">
				<aop:before method="before1" pointcut-ref="pointcut1"/>
				<aop:after method="after1" pointcut-ref="pointcut1"/>
				<aop:around method="around1" pointcut-ref="pointcut1"/>
			</aop:aspect>
		</aop:config>
		
		<!-- 注解方式创建对象 -->
		<bean id="bookAop" class="com.wmr.springDay02.aop.annotation.Book"></bean>
		<bean id="myBookAop" class="com.wmr.springDay02.aop.annotation.MyBook"></bean>
		<!-- 开启aop扫面 -->
		<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
</beans>